<h1>Lista de Clientes</h1>

<p *ngIf="!clientes"><em>Loading...</em></p>

<button type="button" (click)="onCreate()" class="btn btn-success" [routerLink]='["/cliente/cadastro"]'>Cadastrar</button>
<table class='table table-striped' *ngIf="clientes">
  <thead>
    <tr>
      <th>Cód.</th>
      <th>Razão Social</th>
      <th>Cnpj</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{ cliente.id }}</td>
      <td>{{ cliente.razaoSocial }}</td>
      <td>{{ cliente.cnpj }}</td>
      <td>{{ cliente.latitude }}</td>
      <td>{{ cliente.longitude }}</td>
      <td>
        <button type="button" [routerLink]="['/cliente',cliente.id]" class="btn btn-warning"><i class="material-icons">edit</i></button>
        <button type="button" (click)="onDelete(cliente)" class="btn btn-danger"><i class="material-icons">close</i></button>
      </td>
    </tr>
  </tbody>
</table>
